p {
    color : white;
    text-align : center;
}

h1 {
    color : white;
    text-align : center;
    font-family : Ariel, sans-serif;
    font-weight : 900;
    font-size : 3em;
}

body {
    background : #99CCFF;
}


div {
    background-color : transparent;
    margin : auto;
    padding-left : 15%;
}

#parent div {
    display: inline-block;
    background-color = transparent;
    width : 20%;
}

div.button {
    border-radius: 25px;
    background: #66AAFF;
    padding: 40px;
    width: 20%;
    height: 150px;
    margin-top : 30px;
}

div.button:hover {
    margin-top: 15px;
    padding-bottom : 55;
    background: green;
}

#staff:hover {
    background: blue;
}

#admin:hover {
    background: grey;
}


#Copyright 2015 StackOverflowGooglers